{% extends "base.html" %} {% block app_content %}

<link rel="stylesheet" href="../static/assets/css/auth.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
  rel="stylesheet"
/>
<style>
  @media only screen and (max-width: 420px) {
    label {
      margin: 60px 20px;
    }
  }
</style>

<div class="auth_container" id="auth-form">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form
        method="post"
        action="{{ url_for('auth.register') }}"
        onsubmit="getDate()"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label
          id="signup-button"
          style="margin-bottom: 25px"
          for="chk"
          aria-hidden="true"
          >Sign up</label
        >
        <input
          type="text"
          name="firstname"
          placeholder="First name"
          required=""
        />
        <input
          type="text"
          name="lastname"
          placeholder="Last name"
          required=""
        />
        <input type="email" name="email" placeholder="Email" required="" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required=""
        />
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          placeholder="Confirm Password"
          required
        />
        <input type="hidden" name="time" id="timezone" />

        <div style="width: 70%; margin: 0 auto">
          <input
            type="checkbox"
            id="tos-agree"
            style="
              height: auto;
              display: inline-block;
              margin: 0;
              padding: 0;
              width: auto;
              border: none;
              outline: none;
              border-radius: 5px;
            "
          />
          <label
            for="tos-agree"
            style="
              display: inline;
              font-size: 0.8rem;
              text-align: left;
              margin: 0 auto;
              color: #fff;
              font-weight: normal;
            "
          >
            I agree to the
            <a
              target="_blank"
              href="{{ url_for('main.terms_of_service') }}"
              style="color: #fff; text-decoration: underline"
              >Terms of Service.</a
            >
          </label>
        </div>

        <div class="errors">
          <small id="number" style="display: none" class="form-text"
            >Password must contain at least 1 number.</small
          >
          <small id="too_short" style="display: none" class="form-text"
            >Password must be 8-32 characters long.</small
          >
          <small id="special" style="display: none" class="form-text"
            >Password must contain at least 1 special character.</small
          >
        </div>
        <button type="submit" id="sign-up-button">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form
        method="post"
        action="{% if next %} {{ url_for('auth.login') }}?next={{ next }} {% else %} {{ url_for('auth.login') }} {% endif %}"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label id="login-button" for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required=""
        />
        <div>
          <a href="#">
            <p
              id="forgot-password"
              style="
                width: 70%;
                height: 40px;
                font-size: 0.8rem;
                margin: 20px auto;
                text-align: left;
                color: #124265;
              "
            >
              Forgot password?
            </p>
          </a>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

<div class="auth_container" hidden id="forgot-password-form">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form method="post" action="{{ url_for('auth.login') }}?next={{ next }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label id="login-button" for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required=""
        />

        <button type="submit">Login</button>
      </form>
    </div>

    <div class="login">
      <form method="post" action="{{ url_for('auth.forgot_password') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label
          id="forgot-button"
          style="margin-bottom: 80px; padding-top: 20px"
          for="chk"
          aria-hidden="true"
          >Forgot Password</label
        >
        <input type="email" name="email" placeholder="Email" required="" />
        <button type="submit" id="sign-up-button">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  function getDate() {
    document.getElementById("timezone").value = new Date();
  }
</script>

{% if login %}
<script>
  loginLabel = document.getElementById("login-button");
  window.onload = loginLabel.click();
</script>
{% endif %}

<script src="{{ url_for('static', filename='/assets/js/auth.js') }}"></script>

{% endblock %}
