{% extends "base.html" %} {% block app_content %}
<main id="main" class="main" data-aos="fade-up" style="padding-top: 5rem; padding-bottom: 5rem;">
  <!-- End Page Title -->
  <!-- Add Number section -->
  <div class="row">
     <div
          class="col-lg-4 col-md-6 mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="100"
          style="margin: 0 auto"
        >
        <div class="pricing" style="padding-top: 3rem;">
          <div class="box featured">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a
                href="{{ url_for('payment.checkout', package='stnrd') }}"
                class="btn-buy"
                >Buy Now</a
              >
            </div>
          </div>
        </div>
        </div>
      <div class="col-lg-6 col-md-6 mt-4 mt-md-0" style="margin: 0 auto;">
        <div class="center-title" style="padding: 1.5rem 0">
          <div class="pagetitle">
            <h1
             style="margin-bottom: 0;
                    font-weight: 600;
                    color: #012970;
                    text-align: center;"  
            >Checkout</h1>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Please confirm your details below.</h5>

            <!-- Vertical Form -->
            <form
              id="submit-form"
              method="POST"
              action="https://checkout.flutterwave.com/v3/hosted/pay"
              class="row g-3"
            >
              <!-- <form class="row g-3"> -->
              <div class="col-12">
                <label for="customer-name" class="form-label">Name</label>
                <input
                  required
                  type="text"
                  name="customer[name]"
                  class="form-control"
                  id="customer-name"
                  value="{{ current_user.display_name() }}"
                  readonly
                />
              </div>
              <div class="col-12">
                <label for="customer-email" class="form-label">Email</label>
                <input
                  type="email"
                  name="customer[email]"
                  class="form-control"
                  id="customer-email"
                  value="{{ current_user.email }}"
                  readonly
                />
              </div>
              <div class="col-12">
                <label for="account-type" class="form-label">Account Type</label>
                <select name="account-type" id="account-type" class="form-select">
                  <option value="None" selected >Select Account Type</option>

                  <option 
                  value="stnrd" 
                  {% if current_user.account_type == 'Standard' %} disabled {% endif %} 
                  {% if package == 'stnrd' and current_user.account_type != 'Standard' %} selected {% endif %} >
                  Standard Package
                  </option>
                  
                  <option 
                  value="prmum" 
                  {% if current_user.account_type == 'Premium' %} disabled {% endif %} 
                  {% if package == 'prmum' and current_user.account_type != 'Premium' %} selected {% endif %} >
                  Premium Package
                  </option>
                </select>
              </div>
              <div class="col-12">
                <input type="checkbox" class="form-check-input" id="make-recurring">
                <label for="make-recurring" class="form-check-label">Make recurring bill.</label>
              </div>
              <input
                type="hidden"
                name="public_key"
                value="FLWPUBK_TEST-f0c7ce8c5b2d29f0a6dbf867b742102f-X"
              />
              <input id="tx_ref" type="hidden" name="tx_ref" value="{{ package }}-{{ current_user.uid }}" />
              <input id="tx_amount" type="hidden" name="amount" value="3400" />
              <input type="hidden" name="currency" value="NGN" />
              <input type="hidden" id="payment_plan" name="payment_plan" value="34260" />
              <input
                type="hidden"
                name="redirect_url"
                value="https://braintext.io/verify-payment"
              />
              <input name="user_id" id="user_id" type="text" value="{{ current_user.uid }}" hidden>
              <div class="text-center">
                <button type="submit" id="flw-form-btn" class="btn btn-primary">Submit</button>
              </div>
            </form>
            <!-- Vertical Form -->
          </div>
        </div>
      </div>
      
  </div>
</main>
<script>
  var txID = "{{ tx_id }}"
</script>
<script src="{{ url_for('static', filename='assets/js/checkout.js') }}"></script>
{% endblock %}
