{% extends "base.html" %} {% block app_content %}
<main id="main" class="main">
  <div class="center-title">
    <div class="pagetitle">
      <h1>Profile</h1>
    </div>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="centralize">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="padding: 1rem 0">
                Add WhatsApp Number
              </h5>

              <!-- Vertical Form -->
              <form class="row g-3" id="number-form">
                <div class="col-12">
                  <!-- <label
                    for="whatsapp-phone"
                    style="display: block"
                    class="form-label"
                    >Number</label
                  > -->
                  <input
                    id="whatsapp-phone"
                    type="tel"
                    required
                    class="form-control"
                    name="phone"
                  />
                </div>

                <div class="text-center">
                  <button
                    type="submit"
                    id="verify-number"
                    class="btn btn-primary"
                  >
                    Submit
                  </button>
                </div>
              </form>
              <!-- Vertical Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/add_number.js') }}"></script>
{% endblock %}
