<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    {% if title %}
    <title>Braintext - {{ title }}</title>
    {% else %}
    <title>Braintext - Evolve with AI</title>
    {% endif %}

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon-brain.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon-brain.png"
      rel="apple-touch-icon"
    />

    <!-- Bootstrap
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    /> -->

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- NiceAdmin files  -->
    <!-- <link
      href="../static/niceadmin/vendor/quill/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="../static/niceadmin/vendor/quill/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="../static/niceadmin/vendor/simple-datatables/style.css"
      rel="stylesheet"
    /> -->

    {% if request.endpoint == "main.profile" %}
    <link href="../static/niceadmin/css/style.css" rel="stylesheet" />
    {% endif %} {% if request.endpoint == "main.profile" %}
    <link href="../static/niceadmin/css/style.css" rel="stylesheet" />
    {% endif %}

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />

    {% if request.endpoint == "auth.login" %}
    <link rel="stylesheet" href="../static/assets/css/auth.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    {% endif %} {% if request.endpoint == "auth.register" %}
    <link rel="stylesheet" href="../static/assets/css/auth.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    {% endif %} {% if request.endpoint == "main.add_number" %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    {% endif %}

    <!-- =======================================================
  * Template Name: OnePage - v4.10.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
          <a href="{{ url_for('main.index') }}">
            <img
              src="{{ url_for('static', filename='assets/img/logo-header.png') }}"
              alt="BrainText"
            />
          </a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a
                class="nav-link scrollto active"
                href="{{ url_for('main.index') }}#"
                >Home</a
              >
            </li>
            <li>
              <a
                class="nav-link scrollto"
                href="{{ url_for('main.index') }}#about"
                >About</a
              >
            </li>
            <li>
              <a
                class="nav-link scrollto"
                href="{{ url_for('main.index') }}#services"
                >Services</a
              >
            </li>
            <!-- <li>
              <a class="nav-link scrollto o" href="#portfolio">Portfolio</a>
            </li> -->
            <li>
              <a
                class="nav-link scrollto"
                href="{{ url_for('main.index') }}#contact"
                >Contact</a
              >
            </li>
            <li>
              <a
                class="nav-link scrollto"
                href="{{ url_for('main.index') }}#pricing"
                >Pricing</a
              >
            </li>
            {% if current_user.is_active %}
            <li class="dropdown">
              <a href="#"
                ><span>{{ current_user.display_name() }}</span>
                <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="{{ url_for('main.profile') }}">My Profile</a></li>
                <li>
                  <a href="{{ url_for('main.profile') }}?settings=True"
                    >Account Settings</a
                  >
                </li>
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
              </ul>
            </li>
            {% endif %} {% if not current_user.is_active %}
            <li>
              <a class="nav-link scrollto" href="{{ url_for('auth.login') }}"
                >Login</a
              >
            </li>
            <li>
              <a
                class="getstarted scrollto"
                href="{{ url_for('auth.register') }}"
                >Get Started</a
              >
            </li>
            {% endif %}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <div class="row">
      {# application content needs to be provided in the app_content block #}
      <!-- Alerts -->
      {% block alert_content %} {% with messages =
      get_flashed_messages(with_categories=true) %} {% if messages %}

      <!-- Position it: -->
      <!-- - `.toast-container` for spacing between toasts -->
      <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
      <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
      <div class="toast-container position-absolute top-0 end-0 p-3">
        {% for category, message in messages %}
        <div
          class="toast align-items-center text-white {% if category == 'message' %} bg-info {% else %} bg-{{ category }} {% endif %} border-0"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex">
            <div class="toast-body">{{ message }}</div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
        </div>
        {% endfor %}
      </div>

      {% endif %} {% endwith %} {% endblock %} {% block app_content %} {%
      endblock %}
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <!-- <h3>BrainText</h3> -->
              <img
                style="object-fit: contain; width: 100%"
                src="{{ url_for('static', filename='assets/img/logo-footer.png') }}"
                alt="BrainText"
              />
              <p>
                A108 Adam Street <br />
                New York, NY 535022<br />
                United States <br /><br />
                <strong>Phone:</strong> +1 5589 55488 55<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>

            <div
              style="padding-top: 2.2rem"
              class="col-lg-2 col-md-6 footer-links"
            >
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ url_for('main.index') }}#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ url_for('main.index') }}#about">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ url_for('main.index') }}#services">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div
              style="padding-top: 2.2rem"
              class="col-lg-3 col-md-6 footer-links"
            >
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div>

            <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Join Our Newsletter</h4>
              <p>
                Tamen quem nulla quae legam multos aute sint culpa legam noster
                magna
              </p>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div> -->
          </div>
        </div>
      </div>

      <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>BrainText</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
          </div>
        </div>
        <!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div> -->
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Bootstrap -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script> -->

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
