<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    {% if title %}
    <title>Braintext - {{ title }}</title>
    {% else %}
    <title>Braintext - Evolve with AI</title>
    {% endif %}

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='assets/img/favicon-brain.png') }}"
      rel="icon"
    />
    <link
      href="{{ url_for('static', filename='assets/img/apple-touch-icon-brain.png') }}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}"
      rel="stylesheet"
    />

    <!-- NiceAdmin files  -->

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='assets/css/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <style>
      @media only screen and (max-width: 420px) {
        #header-side-image {
          width: 150px;
          height: auto;
        }
      }
    </style>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
          <a href="{{ url_for('main.index') }}">
            <img
              src="{{ url_for('static', filename='assets/img/logo-header.png') }}"
              alt="BrainText"
            />
          </a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <h2 class="logo">
          <a href="{{ url_for('main.index') }}">
            <img
              id="header-side-image"
              src="{{ url_for('static', filename='assets/img/braintext_email_header.png') }}"
              alt="Learn through conversations"
            />
          </a>
        </h2>
      </div>
    </header>
    <!-- End Header -->

    <div class="row">{% block email_content %} {% endblock %}</div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <!-- <h3>BrainText</h3> -->
              <img
                style="object-fit: contain; width: 100%"
                src="{{ url_for('static', filename='assets/img/logo-footer.png') }}"
                alt="BrainText"
              />
              <p>
                A108 Adam Street <br />
                New York, NY 535022<br />
                United States <br /><br />
                <strong>WhatsApp:</strong> +1 (507) 609-4633<br />
                <strong>Email:</strong> support@braintext.io<br />
              </p>
            </div>

            <div
              style="padding-top: 2.2rem"
              class="col-lg-2 col-md-6 footer-links"
            >
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ url_for('main.index') }}#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ url_for('main.index') }}#about">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="{{ url_for('main.index') }}#services">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>BrainText</span></strong
            >. All Rights Reserved
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
